@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Semi Bold'), local('Open-Sans-Semi-Bold'), url(../fonts/Open_Sans/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Light'), local('Fira-Sans-Light'), url(../fonts/Fira_Sans/FiraSans-Light.ttf) format('truetype');
}